:root {
  --background-color: hsl(44, 36%, 90%);
  --main-grey: #545350;
  --page-width: 98%;
  --max-width: 1200px;
  --dark-grey: #4b4b4b;
}

body {
  margin: 0;
  overflow-y: scroll;
}

.page {
  background-color: var(--background-color);
  color: var(--main-grey);
  font-family: 'Noto Sans Display', Sans-serif, Arial, Helvetica;
  font-size: 18px;
  font-weight: 300;
  min-height: 100vh;
  /* overflow: hidden; */
  padding: 0;
}

.page__table-wrapper {
  width: 100%;
  max-width: 850px;
  margin: 55px auto 0;
  padding: 0 10px 55px;
}
