.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo {
  font-size: 2em;
}

.header__logo-icon {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url('../../assets/img/logo.svg');
  background-size: contain;
}
