.table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  min-width: 350px;
}

.table__head-row {
  position: sticky;
  top: -1px;
  background-color: var(--background-color);
  box-shadow: 0px 3px 3px -1px #9c9c9c36;
}

.table__row {
  transition: all 0.3s;
}

.table__row_completed {
  opacity: 0.5;
}

.table__header {
  font-weight: 300;
  text-align: start;
  padding: 3px 5px;
  cursor: pointer;
}

.table__header_asc:after {
  content: '🠇';
  margin-left: 2px;
  color: #545350b0;
}

.table__header_desc:after {
  content: '🠅';
  margin-left: 2px;
  color: #545350b0;
}

.table__header:first-of-type {
  width: 25px;
}

.table__header:nth-of-type(3) {
  width: 100px;
}

.table__header:nth-of-type(4) {
  width: 165px;
}

.table__header:nth-of-type(5) {
  width: 140px;
}

.table__data {
  padding: 13px 5px;
  border-top: 1px solid #80808040;
}

.table__task-title {
  outline: none;
  margin: 0;
  font-size: 17px;
  padding: 5px;
  border-radius: 10px;
  transition: background-color 0.3s;
  min-width: 160px;
  overflow: hidden;
}

.table__task-title:hover {
  background-color: #e4e0d4;
}

.table__check-label {
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid var(--main-grey);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.table__check-label:hover {
  border-color: #689f53;
}

.table__check-input {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

.table__check-input:checked ~ .table__check-label {
  background-image: url('../../assets/img/check.svg');
  background-size: cover;
  border-color: #689f53;
}

.table__data-btns > div {
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.table__acn-btn {
  width: 25px;
  height: 25px;
  display: block;
  background-size: contain;
  transition: opacity 0.3s;
  cursor: pointer;

}

.table__row:hover .table__data-btns > div {
  opacity: 1;
}

.table__acn-btn:hover {
  opacity: 0.7;
}

.table__acn-btn-edit {
  background-image: url('../../assets/img/edit.svg');
}

.table__acn-btn-delete {
  background-image: url('../../assets/img/delete.svg');
}

.table__date {
  background: #debd9966;
  border: none;
  font-weight: 300;
  padding: 3px 5px;
  border-radius: 10px;
  width: 143px;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--main-grey);
  outline: none;
  font-size: 15px;
}

.table__date:hover {
  background: #debd99a8;
  outline: none;
}

.table__status {
  font-weight: 400;
  /* background: #7c7a72; */
  border: 2px solid #545350b0;
  color: var(--main-grey);
  background: none;
  border-radius: 10px;
  /* border: none; */
  padding: 2px 5px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.table__status_progress {
  border: 2px solid #e3c14bbd;
}

.table__status_completed {
  /* background: transparent;
  color: var(--main-grey); */

  border: 2px solid #689f53;
}

.table__status option {
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  color: var(--main-grey);
}

@media (max-width: 768px) {
  .table__data-btns > div {
    opacity: 1;
  }

  .table__header-status {
    display: none;
  }

  .table__data-status {
    display: none;
  }

  .table__header:first-of-type {
    width: 25px;
  }

  .table__task-title {
    font-size: 16px;
    min-width: 100px;
  }

  .table__header:nth-of-type(4) {
    width: 72px;
  }

  .table__date {
    width: 60px;
  }

  .table__header {
    font-size: 17px;
  }

  .table__header:nth-of-type(3) {
    width: 70px;
  }
}
