.actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.actions__btn {
  margin-bottom: 20px;
  font-weight: 300;
  background-color: var(--main-grey);
  color: var(--background-color);
  font-size: 17px;
  padding: 5px 7px;
  border-radius: 15px;
  transition: all 0.3s;
  cursor: pointer;
}

.actions__btn:first-of-type {
  background-color: #e08d71;
}

.actions__btn:hover {
  background-color: #2c2b2a;
}
